{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 70,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "endOfLine": "crlf",
  "tabWidth": 4,
  "semi": false,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "always"
}
