
<div class="container-fluid">
  <!-- Colunas de forma responsível (automaticamente) -->
  <!--div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <p class="card-header">Consulta Requerente</p>
          <div class="card-body">
            <div class="card-text">
              <div class="requerente">
                 Digite o CPF: <input class="input_style" type="text" name="" id="">&nbsp;<button class="button_style" type="submit">OK</button>
              </div>
            </div>
          </div>
        </div>
       </div>
  </!--div-->

  <!-- Colunas de forma responsível (automaticamente) -->
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <mat-card class="card">
        <mat-card-subtitle class="card-header">Consulta Requerente</mat-card-subtitle>
        <mat-card-content>
          <div class="requerente">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="dados_estilo"><b>Digite o CPF:&nbsp;</b><input class="input_style" type="text" name="cpf" [(ngModel)]="cpf.parametro">&nbsp;<button type="submit" (click)="findByCpf()">OK</button></div>
             </div>
            </div>
          </div>


        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" *ngIf="cpf2">
      <mat-card class="card" >
        <mat-card-subtitle class="card-header">Consulta Requerente</mat-card-subtitle>
        <mat-card-content>
          <div class="requerente">
            <div class="row">
              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                 <div class="dados_estilo"><b>CPF:&nbsp;</b><label>{{ cpf2.parametro }}</label></div>
              </div>
              <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                  <div class="dados_estilo"><b>Nome:&nbsp;</b><label>dossie nome </label></div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


    <!--div class="formulario-consulta">
        FORMULARIO DE CONSULTA AQUI
    </!--div>

    <div-- class="resultado-consulta">
        RESULTADO DA CONSULTA AQUI
    </div-->


<div class="container-fluid" *ngIf="cpf2">
  <mat-card>
    <mat-card-content>
      <mat-tab-group animationDuration="0ms" class="demo-tab-group">
        <mat-tab class="teste" label="REQUERIMENTO 300 - AUXÍLIO ACIDENTE - 23/08/2020">
          <div class="demo-tab-content">
            <mat-card class="style">
              <mat-card-content>
                <mat-tab-group animationDuration="0ms" class="demo-tab-group">
                  <mat-tab label="LAUDO 004 - 22/08/2020">
                    <div class="tab-content">
                      <!-- Colunas de forma responsível (automaticamente) -->
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="card">
                              <div class="card-body">
                                <div class="card-text">
                                  <div class="row">
                                      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <div class="dados_estilo"><b>Requerente:&nbsp;&nbsp;</b><span>José Maria</span></div>
                                      </div>
                                      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                      <div class="dados_estilo"><b>Nascimento:&nbsp;&nbsp;</b><span>01/05/1980</span></div>
                                      </div>
                                      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                      <div class="dados_estilo"><b>Identidade:&nbsp;&nbsp;</b><span>123456</span></div>
                                      </div>
                                      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                      <div class="dados_estilo"><b>Sexo:&nbsp;&nbsp;</b><span>Masculino</span></div>
                                    </div>
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <div class="dados_estilo"><b>RP:&nbsp;&nbsp;</b><span>Sim</span></div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <div class="dados_estilo"><b>Médico:&nbsp;&nbsp;</b><span>Gestor Médico Norte RJ 3</span></div>
                                    </div>
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                      <div class="dados_estilo"><b>CRM:&nbsp;&nbsp;</b><span>965</span></div>
                                    </div>
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                      <div class="dados_estilo"><b>Mat. INSS:&nbsp;&nbsp;</b><span>01/05/1980</span></div>
                                    </div>
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                      <div class="dados_estilo"><b>Origem Cadastro:&nbsp;&nbsp;</b><span>965</span></div>
                                  </div>
                                  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <div class="dados_estilo"><b></b></div>
                                  </div>
                                  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <div class="dados_estilo"><b></b></div>
                                  </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                    <!--------------------------------------->
                    <div class="demo-tab-content">
                      <!-- Colunas de forma responsível (automaticamente) -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                              <div class="card">
                                <div class="card-body">
                                  <div class="card-text">
                                    <div class="row">
                                      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="dados_estilo"><b>Resultado Incapacidade:&nbsp;&nbsp;</b><span class="destaque">Existe incapacidade laborativa</span></div>
                                      </div>
                                      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="dados_estilo"><b>Benefício:&nbsp;&nbsp;</b><span class="destaque">Auxílio Acidente</span></div>
                                      </div>
                                      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="dados_estilo"><b>Perícias:&nbsp;&nbsp;</b><span class="destaque">02</span></div>
                                      </div>
                                    </div>

                                    <div class="row">
                                      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="dados_estilo"><b>Código do Benefício:&nbsp;&nbsp;</b><span>1010</span></div>
                                      </div>
                                      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="dados_estilo"><b>Data da realização do exame:&nbsp;&nbsp;</b><span>23/09/2020</span></div>
                                      </div>
                                      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="dados_estilo"><b>Código de Protocolo:&nbsp;&nbsp;</b><span>011</span></div>
                                      </div>
                                    </div>

                                    <div class="row">
                                      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="dados_estilo"><b>Data Início Doença DID:&nbsp;&nbsp;</b><span>06/02/2020</span></div>
                                      </div>
                                      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="dados_estilo"><b>Data Início Incapacidade DII:&nbsp;&nbsp;</b><span>06/02/202</span></div>
                                      </div>
                                      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="dados_estilo"><b>Requerente:&nbsp;&nbsp;</b><span></span></div>
                                      </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="dados_estilo"><b>História:&nbsp;&nbsp;</b><span >
                                          Fui internado em 06/02/2020 no Hospital de Cirurgia com problemas de pressão alta e coração. O fôlego é cansado e a cabeça dói. Estou em tratamento e em uso de Metildopa e Hidroclorotiazida.
                                        </span></div>
                                      </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <div class="dados_estilo"><b>Descrição Exame Físico:&nbsp;&nbsp;</b><span>Estado geral Regular, pulso 104 bat./min, P.A. 210 x 130 mmHg.</span></div>
                                      </div>
                                      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                        <div class="dados_estilo"><b>Acidente de Trabalho:&nbsp;&nbsp;</b><span>Não</span></div>
                                      </div>
                                      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <div class="dados_estilo"><b>Considerações:&nbsp;&nbsp;</b><span>Incapaz para o trabalho</span></div>
                                      </div>
                                      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                        <div class="dados_estilo"><b>Isenção de Carência:&nbsp;&nbsp;</b><span>Sim</span></div>
                                      </div>
                                    </div>
                                    <br>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                  </mat-tab>
                  <mat-tab label="LAUDO 003 - 15/07/2020">
                    <div class="demo-tab-content">

                    </div>
                  </mat-tab>
                  <mat-tab label="LAUDO 002 - 12/05/2020">
                    <div class="demo-tab-content">

                    </div>
                  </mat-tab>
                  <mat-tab label="LAUDO 001 - 07/04/2020">
                    <div class="demo-tab-content">

                    </div>
                  </mat-tab>
                </mat-tab-group>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-tab>
        <mat-tab label="REQUERIMENTO 200 - AUXÍLIO ACIDENTE - 14/06/2020">
          <div class="demo-tab-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
            Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
            In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
            feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
            orci enim rutrum enim, vel tempor sapien arcu a tellus.
          </div>
        </mat-tab>
        <mat-tab label="REQUERIMENTO 100 - AUXÍLIO ACIDENTE - 12/04/2020">
          <div class="demo-tab-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
            Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
            In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
            feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
            orci enim rutrum enim, vel tempor sapien arcu a tellus.
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
